* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 1.25px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

main {
  width: 512px;
}

main h1 {
  font-size: 24px;
}

main img {
  width: 50px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: blue;
  cursor: pointer;
  margin: 5px;
}

a:before {
  content: "\21AA";
  font-size: 20px;
}

footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-style: italic;
  color: rgb(156, 0, 0);
}

footer img {
  width: 32px;
  animation: noai 1s linear infinite;
}

@keyframes noai {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
