* {
  margin: 5px;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 1.25px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
}

main {
  width: 1024px;
  padding: 25px;
}

#index {
  text-decoration: none;
  list-style-type: none;
  color: blue;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  z-index: 1000;
  opacity: 0.25;
}

#index:hover {
  opacity: 1;
}

#index:before {
  content: "\21AA";
  font-size: 20px;
}

#clicker {
  background-color: #5f33ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 24px;
  border: 10px solid #d4ff33;
  border-style: groove;
  box-shadow: 0 5px 10px 1px #5f33ff5b;
  border-radius: 12px;
  user-select: none;
}

#clicker h1,
#clicker p {
  color: #d4ff33;
}

#game-area {
  height: 600px;
  width: 600px;
  background-image: url(../assets/click-game-background.jpg);
  background-size: cover;
  background-blend-mode: luminosity;
  animation: bgcolor 10s linear infinite;
  border: 10px solid #d4ff33;
  border-style: groove;
  box-shadow: 0 0 10px 10px inset;
  border-radius: 12px;
  user-select: none;
  overflow: hidden;
}

#clicker-alien {
  position: relative;
  cursor: pointer;
  top: 45%;
  left: 45%;
  border-style: none;
  user-select: none;
  background-color: unset;
  width: 50px;
  transition: transform 0.1s ease-in-out;
  animation: headvibrate 0.3s linear infinite both;
}

@keyframes headvibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

#counter {
  user-select: none;
}

@keyframes bgcolor {
  0% {
    background-color: #5f33ff;
  }
  50% {
    background-color: #d4ff33;
  }
  100% {
    background-color: #5f33ff;
  }
}

#clicker-gameover-screen {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 575px;
  height: 575px;
  z-index: 1000;
  position: absolute;
  background-color: black;
  pointer-events: none;
}

#replay-button {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  background-color: #5f33ff;
  font-weight: bold;
  color: #d4ff33;
  transition: transform 0.1s ease-in-out;
}

#replay-button:hover {
  transform: scale(1.2);
}

.collapsible {
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  background-color: unset;
}

.collapsed,
.collapsible:hover {
  color: #5f33ff;
}

.collapsible-content {
  display: none;
}

.content-link {
  text-decoration: none;
  margin: 0;
}
