* {
  text-shadow: 0px 0px 1.25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
}

main {
  width: 75%;
  padding: 25px;
}

#index {
  text-decoration: none;
  list-style-type: none;
  color: blue;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  z-index: 1000;
  opacity: 0.25;
}

#index:hover {
  opacity: 1;
}

#index:before {
  content: "\21AA";
  font-size: 20px;
}

.unread {
  opacity: 0.25;
}

.context {
  color: rgb(73, 73, 73);
  font-style: italic;
  font-size: 12px;
}

code {
  color: rgb(170, 35, 35);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#calc-output {
  color: green;
  font-weight: bold;
}

#concat-output {
  color: blue;
  font-weight: bold;
}

button {
  cursor: pointer;
  font-family: unset;
}

li {
  margin: 12px;
}
